@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sigmar One', cursive;
    --font3: 'Architects Daughter', cursive;
}

* {
    padding: 0;
    margin: 0;
    font-size: 3.5vw;    
    text-decoration: none;
}

body {
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--font2);
    font-size: 2em;
    padding-top: 30px;
}

header p {
    font-size: 15px;
    padding-bottom: 30px;
}

a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

a:hover {
    color: brown;
}

section {
    font-family: var(--font3);
    padding: 10vw 0px 10vw 0px;
    line-height: 2em;
    padding-left: 20px;
}

.backgroundw {
    background-color: white;
    padding-left: 50px;
}

.backgroundw p {
    padding-bottom: 2em;
}

#background1 {
    background-color: #000000;
    color: white;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#background1 p {
    background-color: #00000099;
    display: inline-block;
    padding: 30px;
}

#background2 {
    background-color: #000000;
    color: white;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#background2 p {
    background-color: #00000099;
    display: inline-block;
    padding: 30px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 15px;
}