@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-size: 2vw;
}

header {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
}

.backgroundw {
    background-color: white;
    padding: 5px;
    margin: 0 0 0 10px;
}

#background1 {
    background-color: #00000099;
    color: white;
    padding: 5px;
    margin: 10px 0px 10px 10px;
}

#background2 {
    background-color: #00000099;
    color: white;
    padding: 5px;
    margin: 10px 0px 10px 10px;
}