@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-size: 2vw;    
    text-decoration: none;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 50px;
    padding-top: 30px;
}

header p {
    font-size: 20px;
    padding-bottom: 30px;
}

a {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: brown;
}

section {
    padding: 10vw 0px 10vw 0px;
    line-height: 2em;
    padding-left: 20px;
}

.backgroundw {
    background-color: white;
}

#background1 {
    background-color: #000000;
    color: white;
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#background1 p {
    background-color: #00000099;
    width: 300px;
    padding: 30px;
}

#background2 {
    background-color: #000000;
    color: white;
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#background2 p {
    background-color: #00000099;
    width: 300px;
    padding: 30px;
}